<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/style.css">
    <title>{{title}}</title>
</head>
<body>
   <nav>
       <div class="logo-container">
            <a href="/"><h1>Asahi's<span>Den<span class="register-sign">&reg;</span></span></h1></a>
        </div>
    <input type="checkbox" id="checkbox1" />
    <label for="checkbox1">
        <ul class="menu demo">
            <li><a href="/">Home</a></li>    
            <li><a href="/products">Products</a></li> 
            <li><a href="/signup">New? Join Us</a></li>
            <li><a href="/">Contact Us</a></li>                       
        </ul>
        <span class="toggle">☰</span>
    </label>
</nav>  
    <main>
        {{{body}}} 
    </main>
    <footer>
        <p>Asahi's Den || Web322 Assignment 1</p>
    </footer>
</body>
</html>