<div class="productss">
    {{#each productlistings}}

    <div class="product-listings">
        <p class="product-info">
            Title: {{this.title}}
        </p>
       
        <div class="proo">
        <img src="{{this.imgSrc}}">
        </div>
        <br>
        <p class="product-info">
            Price: {{this.price}}
        </p>
        <br>
        <p class="product-info">
            Description: {{this.description}}
        </p>
        
    </div>

{{/each}}
</div>