
<div class="flex-wrap">
    <fieldset>
        <form method="POST" action="/formval">
            
            <br>
            <input type="radio" name="rg" id="sign-in" checked/>
            <input type="radio" name="rg" id="sign-up" />
            <input type="radio" name="rg" id="reset" />        
            
            <label for="sign-in">Sign in</label>
            <label for="sign-up">Sign up</label>
            <label for="reset">Reset</label>  
    
            <input class="sign-up sign-in"  value={{name}} type="text"  name="name" id="sign-up-sign-in" placeholder="Name"/>
            <input class="sign-up sign-in reset" value= {{email}}  type="email" name="email" id="sign-up-sign-in" placeholder="Email"  />
            <input class="sign-up sign-in" type="password" name="password" id="sign-up-sign-in" placeholder ="Password"/>
            <input class="sign-up" name="password" id="sign-up-sign-in" type="password" placeholder ="Repeat Password" />
            <button class="form-button" id="sign-up-sign-in" type="submit"></button>        

            <br>
          
            <br>
        </form>
        {{#each message}}
            <div class="errors">{{this}}</div>
        {{/each}}
    </fieldset>
  
</div>