* {
   
    padding:1px;
    list-style: none;
    text-decoration: none;
}

.header {
    width: 100%;
    
    position: relative;
    display: flex;
    background-color:white;
    border-bottom: 1px solid black;  
    justify-content: center;
}


.inner-header {
    width: 80%;
    height: 100%;
    display: block;
    
}

.logo-container {
    height: 100%;
    display: table;
    float: left;
}

.logo-container h1 {
  color: black;
  height: 100%;
  display: table-cell;
  
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 28px;
  font-weight: 200;   
  padding-top: 6px;
}

.logo-container h1 span {
    font-weight: 600;
}
/* 
.navigation{
    float: right;
    height: 100%;
}

.navigation a {
    height: 100%;
    display: table;
    float: left;
    padding: 0 20px;
}

.register-sign {   
    font-size: 20px;
}

.navigation a:last-child{
    padding-right: 0;
}

.navigation a li {
    display: table-cell;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    vertical-align: middle;
    padding: 0 5px;
}

.navigation a li:hover {        
    padding-bottom: 15%;
} */

footer {
    background: black;
    color: white;
    text-align: center;
    padding: 20px; 
    margin-top: 25px;   
}
body{
    
    padding: 0;
    align-content: center;
}

main {
    position: relative;
    padding-top: 7px;
    min-height: calc(100vh - 70px - 58px);
    align-content: center;
}

.promotion-banner {
    width: 99.5%;
    height: 280px;
    border: solid black;
}
.product-listings img{  
    width: 100%;
    background-size: 100px; 
}

.product-listings {  
    BORDER: 1px solid rgba(0, 0, 0, 0.5); 
    TEXT-ALIGN: CENTER;
    background-size: 10px;
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    align-items: center;
    justify-content: center;
}

.product-info {
    font-size: 13px;
    justify-content: center;
}

.proo {
    float: left;
    width: 150px;
    padding: 5px; 
}

.category-list{
  
    flex-direction: column;  
    align-content: center;
    grid-template-columns: auto auto auto;
    border: 1px solid black;
    margin-left: 20px;
}
.category-name{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.category-image {
    height: 150px;
    width: 150px;
    border: 0px solid;
    display: grid;
    color: black;
    margin: 30px;
}

.category-title {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    padding-bottom: 10px;
}

.category-image-container {
    /* display: flex;     
    justify-content: space-between;
    grid-template-columns: auto; */
    display: grid;
    justify-content: center;
    flex-direction: column;  
    align-content: center;
    grid-template-columns: auto auto auto auto;
}

.productss {
    display: grid;
    flex-direction: column;  
    align-content: center;
    grid-template-columns: auto auto auto;
 
}   
 


button {
    width: 250px;
    height: 40px;
    border-radius: 7px;    
    font-size: 15px;
    color: black;
}



.flex-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 300px;
    text-align: center;
}


@media only screen and (max-width: 934px) {
    .productss{
        grid-template-columns: auto auto;
    }
    main {
        width: 100%;       
    }
    .category-image-container {
        grid-template-columns: auto auto;
    }
}


@media only screen and (max-width: 500px) {
    .productss{
        grid-template-columns: auto;
    }
    main {
        width: 100%;       
    }
    .category-image-container {
        grid-template-columns: auto;
    }
}
h1 { margin:150px auto 10px auto; text-align:center; color:#fff;}

#checkbox1,
.toggle {
  display: none;
}

.menu {
  padding: 0;
  margin: 0;
  max-width: 700px;
  height: 50px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
  width: 150%;
}

.menu li a {
  text-decoration: none;
  align-self: center;
  border-radius: 5px;
  font-size: 14px;
  padding: 10px 15px;
  transition: background .2s linear;
}

@media screen and (max-width: 800px) {
  .menu li a {
    font-size: 11px;
  }
}

@media screen and (max-width: 866px) {
  .toggle {
    /* clear: both; */
    display: block;
    text-align: center;
    font-size: 14px;
    line-height: 40px;
    cursor: pointer;
    /* width: 150%; */
    height: 40px;
    font-size: 23px;
    /* color: #595959;
    background: #dbdbdb; */
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    transition: all .1s linear;
  }
  .toggle:hover {
    background: #cecece;
  }
  #checkbox1:checked + label .demo li {
    opacity: 1;
    visibility: visible;
    transition: all .7s linear;
  }


  #checkbox1:checked + label .demo {
    height: 200px;
  }
  .menu {
    border-radius: 0px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 0px;
    transition: height .3s linear;
  }
  .menu li {
    display: flex;
    /* magic */
    align-self: center;
    width: 95%;
    opacity: 0;
    visibility: hidden;
  }
  .menu li a {
    width: 95%;
    text-align: center;
    align-self: center;
    align-content: center;
  }
  .logo-container h1{
    padding-top: 0px;
    
  }
}

.demo {
  background:white;
}

.demo li a {
  color:black;
}

.demo li a:hover {
  background: #6d6268;
}

.errors{
    color: red;
}







.containerform {
    width: 550px;
    margin: 45px auto;
  }
  
  
  .text-input,
  .radio-button,
  .check-boxes {
    margin-bottom: 13px;
  }
  
  .text-input label,
  .radio-button label,
  .check-boxes label {
    display: block;
    margin-bottom: 3px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 14px;
    font-weight: 600;
  }
  
  .radio-button label,
  .check-boxes label {
    margin-bottom: 7px;
    font-weight: 900;
  }
  
  .text-input input,
  .text-input textarea,
  .text-input select {
    padding: 10px 10px;
    display: block;
    width: 100%;
    border: solid 3px #ccc;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
  }
  
  .signupbtn {
    width: 15%;
    height: 25px;
  }
