<div class="home-container">
    <div class="promotion-banner-container">
        <img class="promotion-banner"src="./img/slide img 3.jpg">        
    </div>
    <br><br>
    <div class="categories">
        <h2 class="category-title">Category</h2>
        <div class="category-image-container">
            <form method="GET" action="/products/allProducts/{{category}}" class="form-inline">
                {{#each data}}
                {{#if cc}}
                    <ul class="category-list"><h6 class="category-name">{{this.category}}</h6>        
                    <img class="category-image" src="/imguploaded/{{this.imgSrc}}"></ul>
                {{/if}}          
                {{/each}}
            </form>
        </div>
    </div>
    <br><br>
    <div class="best-sellers">
        <h2 class="category-title">Best Sellers</h2>
        <div class="category-image-container">
        {{#each data}} 
        {{#if isBestSeller}}    
       
            <ul class="category-list">      
            <img class="category-image" src="/imguploaded/{{this.imgSrc}}"></ul>  
      
        {{/if}}     
        {{/each}}
        </div>
    </div>
</div>


