
<br>
<h1 class="text-dark">
    Welcome Admin! <small class="text-muted">{{user.name}}</small>
</h1>

<div class="row align-items-center justify-content-center">
    <a href="/users/logout"><button class="btn btn-secondary btn-sm" value="Submit" type="submit">Logout</button></a>       
</div>

<div class="row align-items-center justify-content-center">
    <a href="/products/addProduct"><button class="btn btn-secondary btn-sm" value="Submit" type="submit">Add a product</button></a>        
</div>

<div class="row align-items-center justify-content-center">
    <a href="/products/adminProducts"><button class="btn btn-secondary btn-sm" value="Submit" type="submit">Edit a product</button></a>        
</div>