<div class="containerform w-50">

  <div class="form-part w-100">

    <h2>Sign Up</h2>
    <form method="POST" action="/users/signup">

        <div class="text-input w-100">

            {{#each message}}
            <div class="errors">{{this}}</div>
            {{/each}}

            <br>
   
            <div class="text-input ">
                <label for="name">Full Name</label>
                <input type="text" name="name" id="name" value={{name}}>
            </div>

            <div class="text-input">
                <label for="email">Email</label>
                <input type="email" name="email" id="email" value={{email}}>
            </div>
         
            <div class="text-input">
                <label for="password">Password</label>
                <input type="password" name="password" id="password">
            </div>

           <div class="text-input">
              <label for="Re-Password">Re-Password</label>
              <input type="password" name="repassword" id="repassword">
            </div>

            <div class="row align-items-center justify-content-center">
                <button class="btn btn-secondary btn-sm" value="Submit" type="submit">Sign up</button>        
            </div>
    
        </div>
    
        <hr class="w-50">

        <div class="row align-items-center justify-content-center ">
            <h6 >Already a member? <a href="/users/login">Click Here</a></h6>
        </div>

    </form>

</div>